.header {
  height: 64px;
  margin-left: 288px;          /* ← sidebar width */
  padding: 0 112px 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  box-sizing: border-box;
}

.logoutButton {
  background-color: #ffffff;
  color: #000000;
  width:176px;
  height: 40px;
  border: 1.5px solid #000000;

  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-family-raleway);

  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.logoutButton:hover {
  background-color: #000000;
  color: #ffffff;
}

.greeting {
  font-family: var(--font-family-raleway);
  font-size: 20px;
  font-weight: 400; /* можна 400 або 600 */
}

.searchInput {
  width: 488px;
  height: 40px;
 
}